.card {
   background-color: #F2F2F2;
   margin: 30px 0px;
}

h4 {
   display: inline;
   text-align: center;
   font-weight: bolder;
}

.card label {
   display: block;
   text-align: center;
}

.card h4 {
   margin-top: 10px;
   text-align: center;
}
