@import url("./menuHaburguesa.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("./footer.css");

body{
   font-family: 'Roboto', sans-serif;
}
.container-fluid{
   margin: 0px;
   padding: 0px;
}





